<div class="header">
  <span>{{ title }}</span>
</div>
<div id="parent">
  <div id="child">
    <div class="container" style="text-align: center">
      <div id="table-box" style="margin: auto;" *ngIf="selectedColor == null;">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">ID</th>
              <th scope="col">Name</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of response.data; index as i">
              <th scope="row">{{ i+1 }}</th>
              <td>#{{ item.id }}</td>
              <td>{{ item.name }}</td>
              <td>
                <i class="fa fa-eye" aria-hidden="true" style="cursor: pointer;" (click)="showDetails(item.id);"
                  *ngIf="!loading;"></i>
                <i class="fa fa-circle-o-notch glyphicon-refresh-animate" aria-hidden="true" *ngIf="loading;"></i>
              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              <a class="page-link page-link-icons" (click)="prevPage();" style="cursor:pointer;" aria-label="Previous">
                <span class="material-icons">arrow_back_ios</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>

            <li class="page-item" *ngFor="let item of total_pages_array">
              <a class="page-link" (click)="changePage(item);" [ngClass]="{activePage: item == current_page}"
                style="cursor: pointer;">{{ item }}</a>
            </li>

            <li class="page-item">
              <a class="page-link page-link-icons" (click)="nextPage();" style="cursor:pointer;" aria-label="Next">
                <span class="material-icons">arrow_forward_ios</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>

      <div style="width:300px; margin: auto;" *ngIf="selectedColor != null;">
        <div class="row no-grutters">
          <div class="col-6 text-left">
            <b>Name:</b>
          </div>
          <div class="col-6 text-left">
            <b>{{ titleCaseWord(selectedColor.name) }}</b>
          </div>
        </div>
        <div class="row no-grutters">
          <div class="col-6 text-left">
            <b>ID:</b>
          </div>
          <div class="col-6 text-left">
            <b>{{ selectedColor.color }}</b>
          </div>
        </div>
        <div class="row no-grutters">
          <div class="col-6 text-left">
            <b>Pantone:</b>
          </div>
          <div class="col-6 text-left">
            <b>{{ selectedColor.pantone_value }}</b>
          </div>
        </div>
        <div class="row no-grutters">
          <div class="col-6 text-left">
            <b>Color:</b>
          </div>
          <div class="col-6 text-left">
            <span class="dot" [style.background]="selectedColor.color"></span>
          </div>
        </div>
        <div class="row no-grutters">
          <div class="col-6 text-left">
            <b>Year:</b>
          </div>
          <div class="col-6 text-left">
            <b>{{ selectedColor.year }}</b>
          </div>
        </div>
        <button class="mt-5 mb-5 btn btn-primary pull-right" (click)="goBack();">
          Back&nbsp;&nbsp;<i class="fa fa-circle-o-notch glyphicon-refresh-animate" aria-hidden="true"
            *ngIf="loading;"></i>
        </button>
      </div>

    </div>
  </div>
</div>