#parent {
  padding: 2% 0;
}
#child {
  padding: 4% 0;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

#table-box {
  width: 340px!important;
}

@media screen and (min-width: 768px) {
  #table-box {
    width: 500px!important;
  }
}