<div class="row no-gutters full-height" *ngIf="showMenu">
  <div class="col-12 col-sm-12 col-md-3 content">
    <div class="row" style="border-bottom: solid 1px #bbbbbb;">
      <img src="../assets/img/logo.png" alt="" height="100" style="margin: auto;">
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="/colors" routerLinkActive="active">Colors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/users" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout();" style="cursor:pointer;">Logout</a>
      </li>
    </ul>
  </div>
  <div class="col-12 col-sm-12 col-md-9">
    <router-outlet *ngIf="showMenu"></router-outlet>
    <div class="footer">
      <div class="row no-grutters">
        <div class="col-6 text-right">
          Design
        </div>
        <div class="col-6 text-left">
          SweetCherry Tech
        </div>
      </div>
      <div class="row no-grutters">
        <div class="col-6 text-right">
          Follow Us
        </div>
        <div class="col-6 text-left">
          <i class="fa fa-facebook-official" aria-hidden="true" style="cursor:pointer;"></i>&nbsp;&nbsp;
          <i class="fa fa-instagram" aria-hidden="true" style="cursor:pointer;"></i>&nbsp;&nbsp;
          <i class="fa fa-twitter" aria-hidden="true" style="cursor:pointer;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet *ngIf="!showMenu"></router-outlet>