.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#parent {
  position: relative;
  background-color: #eaeaea;
}

#child {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 90%;
  margin: -15% 0 0 -25%;
  padding: 5%;
  background-color: white;
  border: solid 1px #00a8d5;
  border-radius: 10%;
}

@media screen and (min-width: 768px) {
  #child {
    top: 40%!important;
    left: 50%!important;
    width: 50%!important;
  }
}