<div class="full-height" id="parent">
  <img src="../../../assets/img/logo.png" alt="" height="72" style="float:left;">
  <div id="child">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
    <span class="mb-5 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Dummy text
      ever since the 1500s.</span>

    <form class="form-signin mt-3" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="inputEmail" class="sr-only">Email</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="inputEmail" placeholder="Email"
          autofocus>
        <div *ngIf="submitted && f.inputEmail.errors" class="invalid-feedback">
          <div *ngIf="f.inputEmail.errors.required">Email is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="inputPassword"
          placeholder="Password">
        <div *ngIf="submitted && f.inputPassword.errors" class="invalid-feedback">
          <div *ngIf="f.inputPassword.errors.required">Password is required</div>
        </div>
      </div>

      <button class="mb-3 btn btn-lg btn-primary btn-block" [disabled]="loading">
        Sign in&nbsp;&nbsp;<i class="fa fa-circle-o-notch glyphicon-refresh-animate" aria-hidden="true"
          *ngIf="loading"></i>
      </button>
    </form>
    <span class="mt-5 text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
  </div>

</div>