/* You can add global styles to this file, and also import other style files */

.full-height {
  height: 100vh;
}

.glyphicon-refresh-animate {
  -animation: spin 0.7s infinite linear;
  -webkit-animation: spin2 0.7s infinite linear;
}

@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}

.header {
  height: 101px;
  padding: 30px;
  border-bottom: solid 1px #bbbbbb;
  color: chartreuse;
}

.content {
  border-right: solid 1px #e0e0e0;
  background-color: #e9e9e9;
}

.active {
  background-color: #efb5c2 !important;
  color: darkred !important;
}

.nav-link {
  color: darkslategrey;
}

.pull-right {
  @extend .float-right;
}
.pull-left {
  @extend .float-left;
}

.btn-primary {
  color: #fff;
  background-color: #49a1ff!important;
  border-color: #49a1ff!important;
}

.footer {
  background-color: #efb5c2 !important;
  color: #fff;
  margin-top: -35px;
  margin-left: 0;
  margin-right: 15px;
  bottom: 0;
  clear: both;
}

.activePage {
  animation: 1s linear infinite forceYellow;
}

@keyframes forceYellow {
  from {
    z-index: 1;
    color: #fff;
    background-color: #0063ce;
    border-color: #0063ce;
  }
  to {
    z-index: 1;
    color: #fff;
    background-color: #0063ce;
    border-color: #0063ce;
  }
}

.page-link {
  color: black!important;
  background-color: #49a1ff!important;
  border-color: #49a1ff!important;
  margin: 4px;
  border-radius: 20%;
}

.page-link-icons {
  color: #49a1ff !important;
  background-color: #fff!important;
  border-color: #fff!important;
}

.invalid-feedback {
  display: block!important;
}