#parent {
  padding: 2% 0;
}
#child {
  padding: 4% 0;
}

.img-ig-style {
  position: relative;
  padding-top: 35%;
  width: 35%;
  overflow: hidden;
  margin: 1px;
  border-radius: 50%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Optional centered background */
  background-position: center;
}

#table-box {
  width: 340px!important;
}

@media screen and (min-width: 768px) {
  #table-box {
    width: 500px!important;
  }
}